*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
}

/* ----------------Navbar------------------- */


.nav-ul{
  background-color: black;
  padding: 5px;
}

.nav-ul li{
  display: inline-block;
  padding: 2vh;

}

.nav-ul li a{
  font-size: large;
  text-decoration: none;
  color: white;
}

.nav-right{
  text-align: right;
}

/* ----------------logo------------------- */
.logo{
  float: left;
  width: 13.5vh;
  cursor: pointer;
  border-radius: 50%;
}


/* ----------------footer------------------- */
.footer-div{
  position: absolute;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 2vh;
  text-align: center;
  font-size: large;



  
  background-color: black;
  color: white;

}

.icon{
  margin-right: 15px;
}

.footer-element{
  margin-bottom: 10px;
}





/* ----------------signup------------------- */
.inputBox{
  font-size: large;
  display: block;
  margin: 2vh;
  padding: 2vh;
  width: 30vw;
  border: 2px solid black;
}

.register{
  margin-left: 30%;
}

.regbtn{
  font-size: x-large;
  cursor: pointer;
  background-color: black;
  color: white;
}


/* ----------------add-leader------------------- */

.container-add-leader{
  padding-bottom: 20vh;
}

.addbtn{
  font-size: large;
  display: block;
  margin: 2vh;
  padding: 1vh;
  width: 10vw;
  border: 2px solid black;
}







@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
