*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
}

.nav-ul{
  background-color: black;
  padding: 5px;
}

.nav-ul li{
  display: inline-block;
  padding: 2vh;

}

.nav-ul li a{
  text-decoration: none;
  color: white;
}




/* ----------------footer------------------- */
.footer-div{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2vh;
  text-align: center;



  
  background-color: black;
  color: white;

}

.icon{
  margin-right: 15px;
}

.footer-element{
  margin-bottom: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
